
  <%= form_with model: data_repository_record, multipart: true do |form| %>
    <%= form.hidden_field :rppr_id, value: rppr_id %>
    <table class='table'>
      <tr>
        <th>
          Data Repository
          <%= button_tag 'Add More Data Repository', type: 'button', onclick: "showDataRepositoryForm()", class: 'btn btn-success' %>
        </th>
        <td>
          <%= form.select :data_repository_id, options_for_select(current_user.data_repositories.collect{|a| [a.name, a.id]}), {}, class:'form-control form-select' %>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= form.text_area :desc, class:'form-control' %></td>
      </tr>
      <tr>
        <th title="only accept png or jpeg">Screenshot Evidence</th>
        <td title="only accept png or jpeg"><%= form.file_field :screenshot_evidence, class:'form-control', accept: 'image/png,image/jpeg,application/pdf' %></td>
      </tr>
      <tr>
        <th>DOI</th>
        <td><%= form.text_area :doi, class:'form-control' %></td>
      </tr>
    </table>
    <div class="modal-footer">
      <%= form.submit data_repository_record.new_record? ? 'Add' : 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <script>
    function showDataRepositoryForm() {
      $('.dataRepositoryRecordForm').hide();
      $('.dataRepositoryForm').show();
    }
  </script>
