<%= form_with(model: epilepsy, local: true) do |form| %>
  <% epilepsy.attributes.each do |key, value| %>
    <% next if ["id", "created_at", "updated_at"].include?(key) %>

    <p>
      <%= form.label key, key.titleize %><br>
      <% if value.is_a?(Integer) || key.include?("count") %>
        <%= form.number_field key, value: value %>
      <% else %>
        <%= form.text_field key, value: value %>
      <% end %>
    </p>
  <% end %>

  <p><%= form.submit "Update Patient" %></p>
<% end %>

