<div class='d-flex justify-content-center'>
    <header class=''>
        <nav class=''>
            <div class="logo">
              <%= link_to image_tag("logo_dark.png", class: 'w-50', style:"min-width:220px"), root_path, alt: 'logo' %>
            </div>
            <div class='toggle btn btn-outline-primary'>|||</div>
            <ul class='mb-0 align-items-center navigation' style="justify-content: flex-end;">
                <% if current_user %>
                    <li><%= link_to 'Dashboard', welcome_dashboard_path, class: 'button text-decoration-none py-2 p-4', style: 'background-color: #FFFFFF; color: #11709C' %></li>
                    <form class="form-inline nav-bar-profile-form dropdown">
                    <% if signed_in? %>
                    <% if current_user.avatar.present?%>
                        <%= link_to "#{image_tag(current_user.avatar.url, class: 'avatar', style: 'height:40px; width:40px;')}".html_safe, '#', class: "my-2 my-sm-0 d-block", "data-bs-toggle"=>"dropdown" %>
                    <% else %>
                        <%= link_to "<span class='fa fa-user'></span> #{current_user.name} <span class='caret black-caret'></span>".html_safe, '#', class: "btn btn-primary my-2 my-sm-0 dropdown-toggle", "data-bs-toggle" => "dropdown", style: "color: #11709C; background-color: #FFFFFF; border-radius:5px; padding: 5px 12px !important; font-weight: 400;" %>

                    <% end %>
                    <div class="dropdown-menu dropdown-menu-end">
                        <%= link_to "<span class='fa fa-home'></span> Home".html_safe, welcome_index_path, class: 'dropdown-item' %>
                        <%= link_to "<span class='fa fa-user-circle'></span> Profile".html_safe, current_user, class: 'dropdown-item' %>
                        <%= link_to "<span class='fa fa-sign-out'></span> Sign Out".html_safe, log_out_path, method: 'delete', class: 'dropdown-item'  %>
                    </div>
                    <% else %>
                    <%= link_to 'Sign In', secure_path, class: 'btn btn-outline-primary'  %>
                    <% end %>
                </form>
                <% else %>
                    <li><%= link_to 'Sign In', secure_path, class: 'button text-decoration-none py-3 p-4', style: 'background-color: #FFFFFF; color: #11709C' %></li>
                    
                <% end %>
            </ul>
        </nav>
    </header>
</div>