<%= form_with(model: ccep, local: true) do |form| %>
  <% if ccep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ccep.errors.count, "error") %> prevented this patient from being saved:</h2>
      <ul>
        <% ccep.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :master_patient_id, "Patient ID" %><br>
    <%= form.text_field :master_patient_id, required: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>


