<div class="mt-2 mb-3">
<% root_comments.each do |comment| %>
  <div class="root-comment card card-body shadow-sm mb-3">
    <span class="fw-bolder"><%= "#{comment.user.first_name} #{comment.user.last_name}" %></span>
    <div class="timestamp" id="<%= "timestamp-#{comment.id}" %>"><%= comment.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %H:%M:%S %Z") %></div>
    <div class="comment- pt-2" id="<%= "comment-text-#{comment.id}" %>">
      <p class=""><%= comment.subject != 'removed' ? "#{comment.body}" : "<i class='text-muted'>[-COMMENT-DELETED-]</i>".html_safe %></p>
    </div>
    
    <div id="<%= "edit-form-#{comment.id}" %>"></div>
    <div class="d-flex flex-row btn-group" role="group" aria-label="Comment Action" style="width:150px;margin-top: 10px;">
      <% if comment.subject != 'removed' %>
        <%= link_to 'reply', new_comment_rppr_path(parent_id: comment.id, rppr_id: @rppr.id), remote: true, class:'btn btn-sm btn-outline-primary' %>
      <% end%>
      <% if current_user.id == comment.user.id && comment.subject != 'removed' %>
        <%= link_to 'edit', edit_comment_rppr_path(comment_id: comment.id), remote: true, class:'btn btn-outline-primary btn-sm' %>
        <%= link_to 'delete', update_comment_rppr_path(comment_id: comment.id, subject: "removed"), remote: true, :method => :post, class:'btn btn-outline-primary btn-sm', :data => {:confirm => 'Are you sure to delete the comment?'} %>
      <% end %>
    </div>

    <ul class="child-comments">
      <div id="<%= "reply-form-#{comment.id}" %>"></div>
    </ul>

    <%# recursively create replies %>
    <% if comment.children.present? %>
      <ul class="child-comments">
        <%= render :partial => 'rpprs/comments', locals: { root_comments: comment.children } %>
      </ul>
    <% end %>
    
  </div>
<% end %>
</div>
