<%= form_with url: update_comment_rppr_path, id: "edit-form-#{comment.id}-content", remote: true do |form| %>
  <%= form.hidden_field :comment_id, value: comment.id %>
  <div class="field reply-comment-input-fields">
    <%= form.label "#{comment.user.first_name} #{comment.user.last_name}:" %>
    <%= form.text_area :body, value: comment.body, rows: "3", class: 'form-control bg-light', required => true %>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
    <%= button_tag 'Cancel', type: 'reset', onclick: "hideEditForm(this)", value: comment.id, class: 'btn btn-secondary' %>
  </div>
<% end %>

<script>
function hideEditForm(ele) {
  comment_id = $(ele).attr('value');
  $("#edit-form-" + comment_id +  "-content").hide();
  $("#comment-text-" + comment_id).show();
  $("#timestamp-" + comment_id).show();
}
</script>