<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class='panel-padding panel-margin panel-bordered'>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row mt-3">
    <div class="col-md-4 mb-3">
      <label>First name</label>
      <%= f.text_field :user_firstname, placeholder: "First Name", class: 'form-control', aria:{label:'First Name'} %>
    </div>
    <div class="col-md-4 mb-3">
    <label>Middle Name</label>
      <%= f.text_field :user_middlename, placeholder: "Middle Name", class: 'form-control', aria:{label:'Middle Name'} %>
    </div>
    <div class="col-md-4 mb-3">
    <label>Last Name</label>
      <%= f.text_field :user_lastname, placeholder: "Last Name", class: 'form-control', aria:{label:'Last Name'} %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label>Email</label>
      <%= f.text_field :email, placeholder: "Email", class: 'form-control', autocomplete: 'off', aria:{label:'Email'}, readonly: true %>
      <span class="form-text text-muted">You are going to log in with this Email</span>
    </div>
  </div>
    <div class="form-row">
    <div class="col-md-12 mb-3">
      <label>Institution</label>
      <%= f.text_field :institution, placeholder: "Institution", class: 'form-control', autocomplete: 'off', aria:{label:'Institution'}, readonly: true %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label>Degree</label>
      <%= select_tag 'degree', options_for_select([['-Select Degree-',nil], ['DO, PHD','DO, PHD'], ['MD','MD'], ['MD, PHD','MD, PHD'], ["NP","NP"], ["PhD","PhD"], ["RN","RN"], ["MD, FRCP", 'MD, FRCP'], ['Others','Others']], @user.degree), class: 'form-control', aria:{label:'degree'} %>
      <%= text_field :user, :degree, style: "display: none", placeholder: "enter degree here", class: 'form-control', aria:{label:'degree'} %>
    </div>
  </div>
  <% if current_user.admin? %>
  <hr>
    <div class="form-row">
     
      <div class="col-md-4 mb-3">
        <label> 
          Password <%= required %> 
        </label> 
        <%= f.password_field :password , :autocomplete => 'off', class: 'form-control', aria:{label:'password'} %>
        <span class="form-text text-muted">Minimum length: 8. <%= "(Leave it blank if you don't want to change it)" unless @user.new_record?%></span>
      </div>
      <div class="col-md-4 mb-3">
        <label> 
          Confirm your password <%= required %>
        </label>
        <%= f.password_field :password_confirmation, :autocomplete => 'off', class: 'form-control', aria:{label:'password confirm'} %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="form-row">
    <% if signed_in? %>
        <% if current_user.admin? %>
          <% role_id = @user.roles.first.id if @user.roles.first %>
          <div class="col-md-12 mb-3">
            <label>Add Role</label>
              <%= select_tag "role_id", options_for_select([['--Select Role to Add--', nil]]+Role.all.collect{|r| [r.name, r.id]}), class: 'form-control', aria:{label:'role'} %>
          </div>
  </div>
          <ul id='roles' style='margin-bottom: 10px;'>
            <% @user.roles.each do |role| %>
              <li id='role_<%= role.id %>'>
                <%= hidden_field_tag 'role_ids[]', role.id, aria:{label:'hidden role'} %>
                <span class='report-content'><%= role.name %></span>
                <%= link_to "<i class='fa fa-trash'></i>".html_safe,  '#', onclick: "$(this).parent().remove();return false;" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <% if @user.roles.size == 1 %>
            <p>Role: <%= @user.role_name %></p>
          <% elsif @user.roles.size > 1 %>
            <ul>
              <% @user.roles.each do |role| %>  
                <li><%= role.name %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <hr>
        
      <% if @user.roles.include?(Role.where(name: 'Sequencing Center Personnel').first) %>
        <div class="col-md-6 mb-3">
          <% if current_user.has_privilege?('ADD_USER') %>
            <label for="user_status">Sequencing Center</label> 
            <%= f.select :sequencing_center_id, [nil]+SequencingWorkflowsHelper::SEQUENCING_CENTERS, aria:{label:'Sequencing Center'} %>
          <% else %>
            <p>Sequencing Center: <%= @user.sequencing_center_name %></p>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-6 mb-3">
        <% if current_user.has_privilege?('ADD_USER') %>
            <label for="user_status">Status</label> 
            <%= f.select :status, [['Active', 'active'], ['Inactive', 'inactive']],{}, class: "form-control", aria:{label:'Status'} %>
          <% else %>
            <p>Status: <%= @user.status %></p>
          <% end %>
      </div>
        <hr>
    <div class="form-row">
      <div class="col-md-12 mb-3 text-center">
        <%= f.submit nil, class: 'btn btn-primary create-account px-5 text-center' %>
      </div>
    </div>
    </div>
  
    <% end %>
 
<% end %>
 

<script>
  $('#degree').bind("change", function(){
    if($('#degree').val()=='Others'){
      $('#user_degree').val("");
      $('#user_degree').show();
    }else{
      $('#user_degree').val($('#degree').val());
      $('#user_degree').hide();
    } 
  }); 

   $('#role_id').bind("change", function(){
    if($('#role_id option:selected').text()=='Clinical Attending'){
      $('#user_allscripts_scan_number').show();
    }else{
      $('#user_allscripts_scan_number').hide();
    } 

    var name = $("#role_id option:selected").text();
    var id = $(this).val();
    if(!id){return;}
    // alert($("#attending_"+id));
    if($("#role_"+id).length>0){
      alert("This role is already added.");
      return;
    }
    var element = "<li id='role_"+id+"'><input type='hidden' name='role_ids[]' value='"+id+"' /></input><span class='report-content'>"+name+"</span> <a href='#' class='fa fa-trash' onclick='$(this).parent().remove();'></a>"
    $('#roles').append(element);

  }); 


</script>