<% if local_assigns.fetch(:dms_tab, false) %>
  <td><%= "#{rppr.project.project_number}" %></td>
  <td><%= "#{rppr.project.public_starts_project_number}" %></td>
<% end %>
<td><%= "#{rppr.year_start} - #{rppr.year_end}" %></td>
<td><%= rppr.start_date.nil? ? "" : "#{rppr.start_date.strftime("%m/%d/%Y")}"%></td>
<td><%= rppr.end_date.nil? ? "" : "#{rppr.end_date.strftime("%m/%d/%Y")}" %></td>
<td><%= rppr.due_date.nil? ? "" : "#{rppr.due_date.strftime("%m/%d/%Y")}" %></td>
<td>
  <span class='badge bg-<%= "#{rppr.status_badge_style}" %>' style="font-size:1rem;"><%= rppr.status_desc %></span>
</td>

<% if !local_assigns.fetch(:dms_tab, false) %>
  <td><%= "#{rppr.abstract}" %></td>
  <td><%= "#{rppr.data_repositories_list.map(&:name).join(', ')}" if rppr.data_repositories_list.present?%></td>
<% end %>

<td>
    <div class='btn-group btn-group-sm'>
      <% if !rppr.non_edittable? %>
        <% if (current_user.admin? or current_user == rppr.project.pi) %>
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_rppr_user_path(id: current_user.id, rppr_id: rppr.id), class: 'btn btn-outline-primary btn-sm', target: "_blank" %>
          <%#= link_to "<i class='fa fa-check'></i>".html_safe, submit_rppr_user_path(id: current_user.id, rppr_id: rppr.id), class: 'btn btn-outline-success btn-sm', title: 'Submit DMS progress report', data: {confirm: 'Are you sure to submit?'}, method: 'POST', remote: true%>
        <% else %>
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_rppr_user_path(id: current_user.id, rppr_id: rppr.id), class: 'btn btn-outline-primary btn-sm', target: "_blank" %>
        <% end %>
      <% else %>
        <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_rppr_user_path(id: current_user.id, rppr_id: rppr.id), class: 'btn btn-outline-primary btn-sm', target: "_blank" %>
      <% end %>
    </div>
</td>
