<table class="table table-hover table-wall bg-white">
  <% if @users %>
  <thead class="thead-light">
    <tr>
      <th tabindex="0">Name</th>
      <th tabindex="0">User ID</th>
      <th tabindex="0">Institution</th>
      <th tabindex="0">Status</th>
      <th tabindex="0">Role</th>
      <th tabindex="0"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td tabindex="0">
        <%= link_to user.name, user, title:'link to user:'+user.name %>
      </td>
      <td tabindex="0"><%= user.email if user.email.present? %></td>
      <td tabindex="0"><%= user.institution %></td>
      <td tabindex="0"><%= user.status %></td>
      <% role = get_roles(user).html_safe %>
      <td tabindex="0"><%= role %></td>
      <td tabindex="0">
        <% if current_user.has_privilege?("ADD_USER") %>
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_user_path(user), target: '_blank', class: 'btn btn-sm btn-outline-primary' %>
          <%#= link_to "<i class='fa fa-trash'></i>".html_safe, user, method: 'delete', data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <div class="disabled" tabindex="0"><center>No users found</center></div>
<% end %>
</table>
<% if not @users.blank? %>
<%= will_paginate @users %>
<% end %>
