<h1><%= @common_data_element.element_name %></h1>
<p><strong>Local Variable:</strong> <%= @common_data_element.local_variable_name %></p>
<p><strong>Description:</strong> <%= @common_data_element.description %></p>
<p><strong>Data Type:</strong> <%= @common_data_element.data_type %></p>
<p><strong>NIH Source:</strong> <%= link_to @common_data_element.source_url, @common_data_element.source_url, target: "_blank" %></p>

<%= link_to "Back", common_data_elements_path %>
