<% @title = 'SPA Dashboard' %>
<div class="container-fluid mb-5">
  <div class="d-flex flex-row justify-content-between" style="margin-top: 10px">
    <div class="">
      <h5 class="" tabindex="0"><%= @title %> - <%= @projects.size %> Awards</h5>

    </div>
    <div class="d-flex">
    <% if current_user.has_role?("System Administrator") || current_user.has_role?("Data Librarian") || current_user.has_role?("SPA")%>

        <%= form_tag upload_nih_awards_projects_path, multipart: true, id: 'file_upload_form' do %>
          <%= link_to "<i class='fa fa-plus'></i> New Award".html_safe, new_project_path, class: 'btn btn-primary btn-block me-1' %>
          <%= link_to '<i class="fa fa-upload"></i> Upload Awards via CSV'.html_safe, '#', onclick: "$('#file').click();return false;", class: 'btn btn-primary btn-block' %>
          <%= file_field_tag "file", style: 'display: none;', :accept => 'text/csv' %>
          <label class="btn btn-primary m-0">
            <i class="fa fa-file-pdf-o"></i> Upload DMS Plan Files <input type="file" multiple style="display: none;" accept="application/pdf" name="upload_dms_plan_file" id='upload_dms_plan_file' onclick='this.value=null;' onchange="UploadDMSPlanFiles()">
          </label>
        <% end %>

    <% end %>
    </div>
  </div>

  <div class='panel-bordered bg-white my-3'>
  <ul class="nav nav-tabs p-2 pb-0" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="award-tab" data-bs-toggle="tab" data-bs-target="#award" type="button" role="tab" aria-controls="award" aria-selected="true">Awards <span class='badge badge-success'><%= @projects.size %></span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="rpprs-tab" data-bs-toggle="tab" data-bs-target="#rpprs" type="button" role="tab" aria-controls="rpprs" aria-selected="false">Pending DMS progress reports <span class='badge badge-success'><%= @pending_rpprs.size %></span></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="archived-rpprs-tab" data-bs-toggle="tab" data-bs-target="#archived-rpprs" type="button" role="tab" aria-controls="archived-rpprs" aria-selected="false">Archived DMS progress reports <span class='badge badge-success'><%= @archived_rpprs.size %></span></button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active p-3" id="award" role="tabpanel" aria-labelledby="award-tab">
      <%= render partial: 'projects/projects_tab', locals: { projects: @projects, project_table_id: 'award_table' } %>
    </div>
    <div class="tab-pane fade p-3" id="rpprs" role="tabpanel" aria-labelledby="rpprs-tab">
      <%= render partial: 'projects/rpprs_tab', locals: { rpprs: @pending_rpprs, rppr_table_id: 'pending-rppr-table' } %>
    </div>
    <div class="tab-pane fade p-3" id="archived-rpprs" role="tabpanel" aria-labelledby="archived-rpprs-tab">
      <%= render partial: 'projects/rpprs_tab', locals: { rpprs: @archived_rpprs, rppr_table_id: 'archived-rppr-table' } %>
    </div>
  </div>
  </div>
</div>

<script>
  $("#file").bind('change', function(){
    var fileInput = document.getElementById('file');   
    var filename = fileInput.files[0].name;
    if(confirm("Are you sure to upload " + filename + "?")){
      $('#spinner').show()
      $('#file_upload_form').submit();
    }
  });

  function UploadDMSPlanFiles(){
    var imageFileInput = document.getElementById("upload_dms_plan_file");
    var alert_message = ""
    var file_list = []
    var formData = new FormData();
    for (let index = 0; index < imageFileInput.files.length; index++) {
      alert_message += imageFileInput.files[index]['name'] + "\n";
      formData.append('files[]',imageFileInput.files[index]);
    }
    if(confirm("Are you sure to upload following csv files? \n" + alert_message)){
      $.ajax({
        url: '<%= upload_dms_plan_file_projects_path %>',
        type: 'post',
        dataType: 'script',
        contentType: false,
        processData: false,
        data: formData
      })
    }

  }

  var introSpaDashBoard = introJs();
  introSpaDashBoard.setOptions({
    dontShowAgain: true,
    dontShowAgainCookie: 'introjs-SpaDashBoard',
    showStepNumbers: false,
    steps: [
      {
        element: '#award-tab',
        intro: 'Check the list of all awards and take corresponding actions like edit or browse through the related progress reports. You can only approve or return the progress report after PI submit it.',
        position: 'right'
      },
      {
        element: '#rpprs-tab',
        intro: 'Check the list of submitted progress reports awaiting for your review to approve or return for editting.',
        position: 'top'
      },
      {
        element: '#archived-rpprs-tab',
        intro: 'Check the list of archived progress reports previously approved.',
        position: 'top'
      }
    ]
  });
  introSpaDashBoard.start();

</script>