<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id='accord' class="card">
    <div class="card-body">
      <table class='table table-sm'>
        <tr>
          <col></col>
          <col></col>
        </tr>
        <tr>
          <th tabindex='0'>Project Title</th>
          <td><%= form.text_field :project_title, class:'form-control', aria:{ label: "Project Title"} %></td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label>UTSTART Project Number</label>
          </th>
          <td>
            <%= form.text_field :public_starts_project_number, class:'form-control', aria:{ label: "UTSTART Project Number"} %>
          </td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label>Granting Agency</label>
          </th>
          <td>
            <%= form.text_field :granting_agency, class:'form-control', aria:{ label: "Granting Agency"} %>
          </td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label>Award Number</label>
          </th>
          <td>
            <%= form.text_field :project_number, class:'form-control', aria:{ label: "NIH Award Number"} %>
          </td>
        </tr>
        <% if false %>
        <tr>
          <th tabindex='0'>
            <label>Suffix (Supplemental Award)</label>
          </th>
          <td>
            <%= form.text_field :suffix, class:'form-control', aria:{ label: "Suffix (Supplemental Award)"} %>
          </td>
        </tr>
        <% end %>
        <tr>
          <th tabindex='0'>
            <label>Contact PI</label>
          </th>
          <td>
            <%= form.text_field :contact_pi, class:'form-control', aria:{ label: "Contact PI"} %>
            
          </td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label>Contact PI Email</label>
          </th>
          <td>
            <%= form.text_field :pi_email, class:'form-control', aria:{ label: "PI Email"} %>
            
          </td>
        </tr>
        <% if false %>
        <tr>
          <th tabindex='0'>
            <label>Contact PI UTHealth employee ID</label>
          </th>
          <td>
            <%= form.text_field :contact_pi_uthealth_id, class:'form-control', aria:{ label: "Contact PI UTHealth employee ID"} %>
          </td>
        </tr>

        <% end %>

        <% if false %>
          <tr>
            <th tabindex='0'>
              <label>Contact PI eRA Commons ID</label>
            </th>
            <td>
              <%= form.text_field :contact_pi_era_id, class:'form-control', aria:{ label: "Contact PI eRA Commons ID"} %>
            </td>
          </tr>
          <tr>
            <th tabindex='0'>
              <label>Other UTHealth PI</label>
            </th>
            <td>
              <%= form.text_field :other_pis, class:'form-control', aria:{ label: "Other UTHealth PI"} %>
            </td>
          </tr>
        <% end %>
        <% if false %>
        <tr>
          <th tabindex='0'>
            <label>Department</label>
          </th>
          <td>
            <%= form.text_field :department, class:'form-control', aria:{ label: "Department"} %>
          </td>
        </tr>
        <% end %>
        <tr>
          <th tabindex='0'>
            <label for="project_budget_start_date_1i">Project Start Date</label>
          </th>
          <td>
            <%= form.text_field :project_start_date, { class:'form-control', aria:{ label: "Start date"}, id: 'project_start_date', placeholder: "mm/dd/yyyy", :value => project.try(:project_start_date).try(:strftime, "%m/%d/%Y") } %>
          </td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label for="project_budget_end_date_1i">Project End Date</label>
          </th>
          <td>
            <%= form.text_field :project_end_date, { class:'form-control', aria:{ label: "end date"}, id: 'project_end_date', placeholder: "mm/dd/yyyy", :value => project.try(:project_end_date).try(:strftime, "%m/%d/%Y") } %>
          </td>
        </tr>
        <tr>
          <th>
            <label>Current DMS Plan</label>
          </th>
          <td>
            <% if @project.dms_plan_file.present? %>
              <%=link_to "<span class='badge badge-warning' id='file_name'>#{File.basename(@project.dms_plan_file.path)}</span>".html_safe, print_dms_plan_project_path(id: @project.id), target: '_blank' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th tabindex='0'>
            <label>Upload New DMS Plan</label>
          </th>
          <td>
            <%= form.file_field :dms_plan_file, class:'form-control', accept: 'application/pdf' %>
          </td>
        </tr>
        <tr>
          <th tabindex='0'>DMS Plan Status</th>
          <td><%= form.select :dms_status, options_for_select(Project::DMS_STATUS.map { |key, value| [key.to_s.titleize, value] }, project.try(:dms_status)), {}, class: "form-control form-select" %></td>
        </tr>
        <% if false %>
        <tr>
          <th tabindex='0'>
            <label>CFDA Code</label>
          </th>
          <td>
            <%= form.text_field :cfda_code, aria:{ label: "CFDA Code"} %>
          </td>
        </tr>
        <% end %>
        
      </table>
    </div>  
  </div>
  <br>
  <%= link_to "Back", welcome_dashboard_path, class: "btn btn-outline-primary" %>
  <% if project.new_record? %>
  <%= form.submit 'Create Award', class: 'btn btn-primary', "aria-label"=>"Add Award" %>
  <% else %>
  <%= form.submit 'Update Award', class: 'btn btn-primary', "aria-label"=>"Add Award" %>
  <% end %>
<% end %>

<script>
  function handleClick(ele){
    value = $(ele).attr("value")
    if(value == 1){
      $("#project_project_institution").val("UTHealth")
      $("#project_project_institution").prop("readonly",true);
    }else{
      $("#project_project_institution").val('<%= ((project.project_institution.present? && project.project_institution != "UTHealth")  ? project.project_institution.html_safe : "")%>')
      $("#project_project_institution").prop("readonly",false);
    }
  }

  $('#project_start_date').datepicker({
    changeYear: true,
    changeMonth: true,
    dateFormat: "mm/dd/yy",
    yearRange: '-122:+10',
    onSelect: function(selectedDate) {
      $('#project_end_date').datepicker("option", "minDate", selectedDate);
    }
  }).keyup(function(e) {
    if(e.keyCode == 8 || e.keyCode == 46) {
      $.datepicker._clearDate(this);
    }
  });

  $('#project_end_date').datepicker({
    changeYear: true,
    changeMonth: true,
    dateFormat: "mm/dd/yy",
    yearRange: '-122:+10',
    onSelect: function(selectedDate) {
      $('#project_start_date').datepicker("option", "maxDate", selectedDate);
    }
  }).keyup(function(e) {
    if(e.keyCode == 8 || e.keyCode == 46) {
      $.datepicker._clearDate(this);
    }
  });

  // editting datepicker
  $('#project_start_date').datepicker("option", "defaultDate", $('#project_start_date').val());
  $('#project_start_date').datepicker("option", "maxDate", $('#project_end_date').val());
  $('#project_end_date').datepicker("option", "defaultDate", $('#project_end_date').val());
  $('#project_end_date').datepicker("option", "minDate", $('#project_start_date').val());

  /*
  $('#accord').accordion({
    heightStyle: 'content'
  });
  */
</script>

