<div class='panel-padding bg-white'>
  <table class='table table-borderless' id='<%= "#{rppr_table_id}"%>'>
    <thead>
      <tr>
        <th style='width: 10%;'>Award Number</th>
        <th style='width: 10%;'>Project Title</th>
        <th width='10%'>Contact PI</th>
        <th width='25%'>Reporting Period Start Date - End Date</th>
        <th style='width: 10%;'>Due Date</th>
        <th style='width: 10%;'>DMS Plan File</th>
        <th style='width: 10%;'>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% rpprs.each do |rppr| %>
        <tr>
          <td><%= rppr.project.project_number %></td>
          <td><%= rppr.project.project_title %></td>
          <td><%= rppr.project.contact_pi %></td>
          <td><%= rppr.start_date.nil? ? "" : "#{rppr.start_date.strftime("%m/%d/%Y")}" %> - <%= rppr.end_date.nil? ? "" : "#{rppr.end_date.strftime("%m/%d/%Y")}" %></td>
          <td><%= rppr.due_date.nil? ? "" : "#{rppr.due_date.strftime("%m/%d/%Y")}" %></td>
          <td>
            <% if rppr.project.dms_plan_file.present? %>
              <%= link_to "<i class='fa fa-file-pdf-o'></i>".html_safe, print_dms_plan_project_path(id: rppr.project.id), target: '_blank' %>
            <% end %>
          </td>
          <td tabindex="0"><span class='badge bg-<%= "#{rppr.status_badge_style}" %>' style="font-size:1rem;"><%= rppr.status_desc %></span></td>
          <td>
          <div class='btn-group btn-group-sm'>
            <%= link_to "Review <i class='fa fa-eye'></i>".html_safe, edit_rppr_user_path(id: current_user.id, rppr_id: rppr.id), class: 'btn btn-outline-primary btn-sm', target: "_blank" %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $('#' + '<%= "#{rppr_table_id}"%>').DataTable({stateSave: true, autoWidth: false, columnDefs: [ { orderable: false, targets: [-1] }]});
</script>