<p id="notice"><%= notice %></p>

<p>
  <strong>Nih spending categorization:</strong>
  <%= @project.nih_spending_categorization %>
</p>

<p>
  <strong>Project terms:</strong>
  <%= @project.project_terms %>
</p>

<p>
  <strong>Project title:</strong>
  <%= @project.project_title %>
</p>

<p>
  <strong>Public health relevance:</strong>
  <%= @project.public_health_relevance %>
</p>

<p>
  <strong>Administering ic:</strong>
  <%= @project.administering_ic %>
</p>

<p>
  <strong>Application:</strong>
  <%= @project.application_id %>
</p>

<p>
  <strong>Award notice date:</strong>
  <%= @project.award_notice_date %>
</p>

<p>
  <strong>Foa:</strong>
  <%= @project.foa %>
</p>

<p>
  <strong>Project number:</strong>
  <%= @project.project_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.type %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @project.activity %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @project.ic %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @project.serial_number %>
</p>

<p>
  <strong>Support year:</strong>
  <%= @project.support_year %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @project.suffix %>
</p>

<p>
  <strong>Program official information:</strong>
  <%= @project.program_official_information %>
</p>

<p>
  <strong>Project start date:</strong>
  <%= @project.project_start_date %>
</p>

<p>
  <strong>Project end date:</strong>
  <%= @project.project_end_date %>
</p>

<p>
  <strong>Study section:</strong>
  <%= @project.study_section %>
</p>

<p>
  <strong>Sub project number:</strong>
  <%= @project.sub_project_number %>
</p>

<p>
  <strong>Contact pi:</strong>
  <%= @project.contact_pi_id %>
</p>

<p>
  <strong>Contact pi:</strong>
  <%= @project.contact_pi %>
</p>

<p>
  <strong>Other pis:</strong>
  <%= @project.other_pis %>
</p>

<p>
  <strong>Congressional district:</strong>
  <%= @project.congressional_district %>
</p>

<p>
  <strong>Department:</strong>
  <%= @project.department %>
</p>

<p>
  <strong>Primary duns:</strong>
  <%= @project.primary_duns %>
</p>

<p>
  <strong>Primary uei:</strong>
  <%= @project.primary_uei %>
</p>

<p>
  <strong>Duns number:</strong>
  <%= @project.duns_number %>
</p>

<p>
  <strong>Uei:</strong>
  <%= @project.uei %>
</p>

<p>
  <strong>Fips:</strong>
  <%= @project.fips %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @project.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @project.longitude %>
</p>

<p>
  <strong>Org:</strong>
  <%= @project.org_id %>
</p>

<p>
  <strong>Org name:</strong>
  <%= @project.org_name %>
</p>

<p>
  <strong>Org city:</strong>
  <%= @project.org_city %>
</p>

<p>
  <strong>Org state:</strong>
  <%= @project.org_state %>
</p>

<p>
  <strong>Org type:</strong>
  <%= @project.org_type %>
</p>

<p>
  <strong>Org zip:</strong>
  <%= @project.org_zip %>
</p>

<p>
  <strong>Org country:</strong>
  <%= @project.org_country %>
</p>

<p>
  <strong>Arra indicator:</strong>
  <%= @project.arra_indicator %>
</p>

<p>
  <strong>Budget start date:</strong>
  <%= @project.budget_start_date %>
</p>

<p>
  <strong>Budget end date:</strong>
  <%= @project.budget_end_date %>
</p>

<p>
  <strong>Cfda code:</strong>
  <%= @project.cfda_code %>
</p>

<p>
  <strong>Funding mechanism:</strong>
  <%= @project.funding_mechanism %>
</p>

<p>
  <strong>Fiscal year:</strong>
  <%= @project.fiscal_year %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @project.total_cost %>
</p>

<p>
  <strong>Total cost sub project:</strong>
  <%= @project.total_cost_sub_project %>
</p>

<p>
  <strong>Funding ic:</strong>
  <%= @project.funding_ic %>
</p>

<p>
  <strong>Direct cost:</strong>
  <%= @project.direct_cost_id %>
</p>

<p>
  <strong>Indirect cost:</strong>
  <%= @project.indirect_cost_id %>
</p>

<p>
  <strong>Covid19 response:</strong>
  <%= @project.covid19_response %>
</p>

<p>
  <strong>Total cost ic:</strong>
  <%= @project.total_cost_ic %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', welcome_dashboard_path %>
