<%= form_with(model: @patient, local: true) do |form| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject%>
  </div>

  <div class="field">
    <%= form.label :otherIDs %>
    <%= form.text_field :otherIDs %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.select :sex, options_for_select([['Female', 'F'], ['Male', 'M']], @patient.sex) %>
  </div>

  <div class="field">
    <%= form.label :onsetAge %>
    <%= form.number_field :onsetAge %>
  </div>

  <div class="field">
    <%= form.label :handedness %>
    <%= form.select :handedness, options_for_select([['Right-Handed', 'R'], ['Left-Handed', 'L'], ['Ambidextrous', 'AMB']], @patient.handedness) %>
  </div>

  <div class="field">
    <%= form.label :domHemi %>
    <%= form.select :domHemi, options_for_select([['Right', 'R'], ['Left', 'L'], ['Bottom', 'B']], @patient.domHemi) %>
  </div>

  <h3 class="toggle-header" data-target="neuroimaging-section">
    Neuroimaging & Functional Assessment
    <span class="arrow-indicator">&#9660;</span>
  </h3>
  <div id="neuroimaging-section">
    <div class="field">
      <%= form.label :wada %>
      <%= form.text_field :wada %>
    </div>

    <div class="field">
      <%= form.label :fmri %>
      <%= form.text_field :fmri %>
    </div>

    <div class="field">
      <%= form.label :csm %>
      <%= form.text_field :csm %>
    </div>
  </div>

  <h3 class="toggle-header" data-target="surgery-details-section">
    Surgery Details
    <span class="arrow-indicator">&#9660;</span>
  </h3>
  <div id="surgery-details-section">
    <div class="field">
      <%= form.label :surgHemi %>
      <%= form.text_field :surgHemi %>
    </div>

    <div class="field">
      <%= form.label :surgType %>
      <%= form.text_field :surgType %>
    </div>

    <div class="field">
      <%= form.label :surgDescription %>
      <%= form.text_area :surgDescription %>
    </div>

    <div class="field">
      <%= form.label :surgDate %>
      <%= form.date_field :surgDate %>
    </div>

    <div class="field">
      <%= form.label :surgHx %>
      <%= form.text_field :surgHx %>
    </div>

    <div class="field">
      <%= form.label :surgHxHemi %>
      <%= form.text_field :surgHxHemi %>
    </div>

    <div class="field">
      <%= form.label :surgHxType %>
      <%= form.text_area :surgHxType %>
    </div>

    <div class="field">
      <%= form.label :surgHxDate %>
      <%= form.date_field :surgHxDate %>
    </div>
  </div>

  <h3 class="toggle-header" data-target="surgical-outcomes-section">
    Surgical Outcomes
    <span class="arrow-indicator">&#9660;</span>
  </h3>
  <div id="surgical-outcomes-section">
    <div class="field">
      <%= form.label :ilae %>
      <%= form.select :ilae, options_for_select([['Class I', '1'], ['Class II', '2'], ['Class III', '3'], ['Class IV', '4'], ['Class V', '5']], @patient.ilae) %>
    </div>

    <div class="field">
      <%= form.label :engel %>
      <%= form.select :engel, options_for_select([['Class IA', '1a'], ['Class IB', '1b'], ['Class IC', '1c'], ['Class ID', '1d'], 
      ['Class IIA', '2a'], ['Class IIB', '2b'], ['Class IIC', '2c'], ['Class IID', '2d'], 
      ['Class IIIA', '3a'], ['Class IIIB', '3b'],
      ['Class IVA', '4a'], ['Class IVB', '4b'], ['Class IVC', '4b']], @patient.ilae) %>
    </div>

    <div class="field">
      <%= form.label :etiology %>
      <%= form.text_field :etiology %>
    </div>

    <div class="field">
      <%= form.label :mri %>
      <%= form.text_field :mri %>
    </div>
  </div>

<h3 class="toggle-header" data-target="cognitive-section">
  Cognitive & Neuropsychological Evaluations 
  <span class="arrow-indicator">&#9660;</span>
</h3>
<div id="cognitive-section">
  <div class="field">
    <%= form.label :preNP_DOE %>
    <%= form.date_field :preNP_DOE %>
  </div>

  <div class="field">
    <%= form.label :postNP_DOE %>
    <%= form.date_field :postNP_DOE %>
  </div>

  <div class="field">
    <%= form.label :fsiq %>
    <%= form.number_field :fsiq %>
  </div>

  <div class="field">
    <%= form.label :english %>
    <%= form.text_field :english %>
  </div>
</div>

<h3 class="toggle-header" data-target="implantation-section">
  Implantation & Electrocorticography
  <span class="arrow-indicator">&#9660;</span>
</h3>
<div id="implantation-section">
  <div class="field">
    <%= form.label :ecog_hemi %>
    <%= form.text_field :ecog_hemi %>
  </div>

  <div class="field">
    <%= form.label :ecog %>
    <%= form.text_field :ecog %>
  </div>

  <div class="field">
    <%= form.label :implantDate %>
    <%= form.date_field :implantDate %>
  </div>

  <div class="field">
    <%= form.label :explantDate %>
    <%= form.date_field :explantDate %>
  </div>
</div>

<h3 class="toggle-header" data-target="neurostimulation-section">
  Neurostimulation & Functional Monitoring
  <span class="arrow-indicator">&#9660;</span>
</h3>
<div id="neurostimulation-section">
  <div class="field">
    <%= form.label :vns %>
    <%= form.text_field :vns %>
  </div>

  <div class="field">
    <%= form.label :prime %>
    <%= form.text_field :prime %>
  </div>

  <div class="field">
    <%= form.label :thalamusStim %>
    <%= form.text_field :thalamusStim %>
  </div>

  <div class="field">
    <%= form.label :meg %>
    <%= form.text_field :meg %>
  </div>
</div>

<h3 class="toggle-header" data-target="csm-section">
  Cortical Stimulation Mapping
  <span class="arrow-indicator">&#9660;</span>
</h3>
<div id="csm-section">
  <div class="field">
    <%= form.label :awakeCsm %>
    <%= form.text_field :awakeCsm %>
  </div>

  <div class="field">
    <%= form.label :awakeCsm_Tasks %>
    <%= form.text_field :awakeCsm_Tasks %>
  </div>

  <div class="field">
    <%= form.label :asleepCsm %>
    <%= form.text_field :asleepCsm %>
  </div>

  <div class="field">
    <%= form.label :asleepCsm_Tasks %>
    <%= form.text_field :asleepCsm_Tasks %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
