<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @patient.subject %>
</p>

<p>
  <strong>OtherIDs:</strong>
  <%= @patient.otherIDs %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>OnsetAge:</strong>
  <%= @patient.onsetAge %>
</p>

<p>
  <strong>Handedness:</strong>
  <%= @patient.handedness %>
</p>

<p>
  <strong>DomHemi:</strong>
  <%= @patient.domHemi %>
</p>

<p>
  <strong>Wada:</strong>
  <%= @patient.wada %>
</p>

<p>
  <strong>Fmri:</strong>
  <%= @patient.fmri %>
</p>

<p>
  <strong>Csm:</strong>
  <%= @patient.csm %>
</p>

<p>
  <strong>SurgHemi:</strong>
  <%= @patient.surgHemi %>
</p>

<p>
  <strong>SurgType:</strong>
  <%= @patient.surgType %>
</p>

<p>
  <strong>SurgDescription:</strong>
  <%= @patient.surgDescription %>
</p>

<p>
  <strong>SurgDate:</strong>
  <%= @patient.surgDate %>
</p>

<p>
  <strong>ILAE:</strong>
  <%= @patient.ilae %>
</p>

<p>
  <strong>Engel:</strong>
  <%= @patient.engel %>
</p>

<p>
  <strong>Etiology:</strong>
  <%= @patient.etiology %>
</p>

<p>
  <strong>MRI:</strong>
  <%= @patient.mri %>
</p>

<p>
  <strong>SurgHx:</strong>
  <%= @patient.surgHx %>
</p>

<p>
  <strong>SurgHxHemi:</strong>
  <%= @patient.surgHxHemi %>
</p>

<p>
  <strong>SurgHxType:</strong>
  <%= @patient.surgHxType %>
</p>

<p>
  <strong>SurgHxDate:</strong>
  <%= @patient.surgHxDate %>
</p>

<p>
  <strong>PreNP_DOE:</strong>
  <%= @patient.preNP_DOE %>
</p>

<p>
  <strong>PostNP_DOE:</strong>
  <%= @patient.postNP_DOE %>
</p>

<p>
  <strong>FSIQ:</strong>
  <%= @patient.fsiq %>
</p>

<p>
  <strong>English:</strong>
  <%= @patient.english %>
</p>

<p>
  <strong>ECoG_Hemi:</strong>
  <%= @patient.ecog_hemi %>
</p>

<p>
  <strong>ECoG:</strong>
  <%= @patient.ecog %>
</p>

<p>
  <strong>ImplantDate:</strong>
  <%= @patient.implantDate %>
</p>

<p>
  <strong>ExplantDate:</strong>
  <%= @patient.explantDate %>
</p>

<p>
  <strong>VNS:</strong>
  <%= @patient.vns %>
</p>

<p>
  <strong>Prime:</strong>
  <%= @patient.prime %>
</p>

<p>
  <strong>ThalamusStim:</strong>
  <%= @patient.thalamusStim %>
</p>

<p>
  <strong>MEG:</strong>
  <%= @patient.meg %>
</p>

<p>
  <strong>AwakeCSM:</strong>
  <%= @patient.awakeCsm %>
</p>

<p>
  <strong>AwakeCSM_Tasks:</strong>
  <%= @patient.awakeCsm_Tasks %>
</p>

<p>
  <strong>AsleepCSM:</strong>
  <%= @patient.asleepCsm %>
</p>

<p>
  <strong>AsleepCSM_Tasks:</strong>
  <%= @patient.asleepCsm_Tasks %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back to List', patients_path %>
