<h1>Demographics</h1>
<%= link_to "â† Back to Dashboard", root_path, class: "btn btn-secondary" %>

<%= form_with url: demographics_path, method: :get, local: true do |form| %>
  <%= form.label :search, "Search Patient ID" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "New Demographic Entry", new_demographic_path %>

<table>
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>MRN</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @demographics.each do |demo| %>
      <tr>
        <td><%= demo.master_patient_id %></td>
        <td><%= demo.mrn %></td>
        <td><%= demo.firstName %></td>
        <td><%= demo.lastName %></td>
        <td><%= demo.dob %></td>
        <td><%= demo.age %></td>
        <td><%= demo.sex %></td>
        <td>
          <%= link_to "Show", demo %>
          <%= link_to "Edit", edit_demographic_path(demo) %>
          <%= link_to "Delete", demo, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @demographics %>





