<% @title = "Roles and Privileges" %>
<div class="container-fluid mt-3">
  <div class="">
  <h3><%= @title %></h3>
  <%= link_to '<div class="btn btn-primary mb-2">new role</div>'.html_safe, new_role_path %>
  </div>
<div class="content">
    <div class="form">
    <%= form_tag update_all_roles_path, :method => :post do %>
      <table class="table table-sm table-wall table-hover bg-white">
        <thead class="thead-light">
          <tr>
            <th></th>
            <% @privileges.each do |pr| %>
              <th class=""><%= pr.human %>&nbsp;&nbsp;</th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <% @roles.each do |role| %>
          <tr>
            <td><%= link_to role.name, role %></td>
            <% @privileges.each do |pr| %>
              <td><%= check_box_tag 'roles['+role.id.to_s+']['+pr.name+']', "selected", role.privileges.include?( pr.name), aria:{label:'checkbox for role: '+role.name+' and Privileges: '+pr.name} %>
              </td>
            <% end %>             
            <td><%= link_to 'Edit', edit_role_path(role), class: "btn btn-sm btn-outline-primary", aria:{label:'Edit '+role.name} %></td>
          </tr>
        <% end %>
      </table>
      
      <div class="submit">  <%= submit_tag 'Save Changes', class: "btn btn-primary" %> or <%= cancel %></div>
      
    <% end %>
    </div>
</div>

</div>
