<% statuses.each do |s| %>
  <% if patient_report.status_short_names.include? s.short_name %>
    <% class_name = 'status-box-success' %>
  <% else %>
    <% class_name = 'status-box' %>
  <% end %>
  <% if patient_report.class == PatientReport %>
	  <div id='' class='<%= class_name %>' style='cursor:pointer' title='<%= "Completed by #{patient_report.patient_report_statuses.where(status_id: s.id).first.user.name} on #{patient_report.patient_report_statuses.where(status_id: s.id).first.updated_at.strftime('%m/%d/%Y')}" if class_name == 'status-box-success'%>' name='<%= s.name %>'>
	    <%= s.short_name %>
	  </div>
  <% elsif patient_report.class == EmuReport %>
  	<div id='' class='<%= class_name %>' style='cursor:pointer' title='<%= "Completed by #{patient_report.emu_report_statuses.where(status_id: s.id).first.user.name} on #{patient_report.emu_report_statuses.where(status_id: s.id).first.updated_at.strftime('%m/%d/%Y')}" if class_name == 'status-box-success'%>' name='<%= s.name %>'>
	    <%= s.short_name %>
    </div>
  <% elsif patient_report.class == EmuDailyReport %>
    <div id='' class='<%= class_name %>' style='cursor:pointer' title='<%= "Completed by #{patient_report.daily_report_statuses.where(status_id: s.id).first.user.name} on #{patient_report.daily_report_statuses.where(status_id: s.id).first.updated_at.strftime('%m/%d/%Y')}" if class_name == 'status-box-success'%>' name='<%= s.name %>'>
      <%= s.short_name %>
    </div>
  <% end %>
<% end %>